.overlay {
  width: 100%;
  background-color: rgb(27, 20, 20);
}
.container {
  width: 95%;
  max-width: 480px;
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
}
.showTreilerBtn {
  height: 30px;
  width: 150px;
  bottom: 50px;
  margin: 5px 0;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  outline: transparent;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
}
.visualContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.iframe {
  width: 100%;
  height: 300px;
}
.BackButton {
  position: static;

  width: 50px;
  height: 50px;
  transform: rotate(180deg);
  border-radius: 50px;
  margin-right: 15px;
  margin-top: 5px;
}
.poster {
  max-width: 480px;
  margin: 0;
  width: 100%;
}
.container p {
  color: white;
}
.title {
  display: inline;
  margin-top: 0;
  padding-top: 10px;
  font-size: 25px;
  font-weight: 700;
}
.detailList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
}
.genre,
.company {
  color: white;
  margin-right: 10px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 0 7px 1px 7px;
  margin-bottom: 10px;
}

.detailsContainer {
  max-width: 450px;
  margin: 0 auto;
  width: 100%;
}
.detailsContainer p,
.castList,
.sectionContainer {
  display: flex;
  border-bottom: 1px solid rgb(90, 80, 80);
  padding-bottom: 5px;
}
.castList {
  color: white;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 10px;
}
.castListItem {
  margin-right: 15px;
  color: rgb(153, 55, 245);
}
.section {
  color: white;
  width: 70px;
  text-transform: capitalize;
  font-weight: 600;
}
.budget {
  margin: 0 0 10px 0;
  color: white;
}
@media screen and (min-width: 600px) {
  .BackButton {
    position: sticky;
    top: 60px;
    left: 20px;
  }
 
}
@media screen and (min-width: 769px) {
  .BackButton {
    position: sticky;
    top: 80px;
    left: 20px;
  }
 
}
@media screen and (min-width: 1201px) {
  .container {
    width: 60%;
    max-width: none;
  }
  .visualContainer {
    flex-direction: row;
    height: 450px;
  }
  .iframe {
    height: 100%;
  }
  .poster {
    width: auto;
    margin-right: 5px;
  }
  .detailsContainer {
    width: 100%;
    max-width: none;
  }
}
