.form {
  max-width: 325px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-wrap: nowrap;
}
.form input {
  display: inline-block;
  height: 25px;
  min-width: 50px;
  width: 160px;
  max-width: 300px;
  border-radius: 3px 0 0 3px;
  outline: none;
  border: none;
  outline: transparent;
  margin: 0;
  padding: 0;
}
.form button {
  display: inline-block;
  height: 25px;
  width: 25px;
  background-image: url('../../images/search-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  border-radius: 0 3px 3px 0;
  border: none;
  outline: transparent;
  margin: 0;
  font-size: 15px;
  color: rgb(49, 6, 167);
  cursor: pointer;
  background-color: white;
}
@media screen and (min-width: 481px) {
  .form input {
    width: 160px;
  }
}
@media screen and (min-width: 769px) {
  .form input {
    width: 200px;
    height: 30px;
  }
  .form button {
    height: 30px;
  }
}
@media screen and (min-width: 1201px) {
  .form input {
    width: 220px;
  }
}
